.widget {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 250px;
    height: fit-content ;
   }
  
  .widgetTitle {
    font-size: 20px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
  }
  
  .categoryList {
    list-style-type: none;
    padding: 0;
  }
  
  .categoryItem {
    font-size: 16px;
    color: #555;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .categoryItem:hover {
    background-color: #e9e9e9;
  }
  