.quizPageContainer {
  padding: 20px;
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  margin: 20px auto;
}

.quizTitle {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

.questionContainer {
  margin-bottom: 20px;
}

.questionText {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.optionContainer {
  margin-bottom: 15px;
}

optionLabel {
  display: block;
  margin: 5px 0;
  font-size: 16px;
  cursor: pointer;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  font-size: 16px;
}

button:hover {
  background-color: #45a049;
}

.score {
  font-size: 18px;
  text-align: center;
  font-weight: bold;
}

.progressBarContainer {
  background-color: #e0e0e0;
  border-radius: 10px;
  height: 20px;
  margin-top: 20px;
  width: 100%;
  overflow: hidden;
}

.progressBar {
  height: 100%;
  transition: width 4s ease-in-out; /* Slow animation (4 seconds) */
}

.retakeButton {
  background-color: #f44336;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  font-size: 16px;
}

.retakeButton:hover {
  background-color: #e53935;
}
