.card {
    background-color: #fff;
    padding: 20px;
    margin: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 22%;
    cursor: pointer;
  }
  
  .card h3 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .card p {
    font-size: 14px;
  }
  
  .progressContainer {
    background-color: #e0e0e0;
    border-radius: 8px;
    height: 10px;
    margin: 10px 0;
  }
  
  .progressBar {
    height: 100%;
    border-radius: 8px;
  }
  
  .startButton {
    text-decoration: none;
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    display: inline-block;
    margin-top: 10px;
  }
  
  .startButton:hover {
    background-color: #45a049;
  }
  